/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: -webkit-fill-available;
}

body {
  @apply bg-black text-white scrollbar-primary;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

/* ======================================================== */
@layer utilities {

  /* ---------------------------- */
  /* HELPERS */

  .min-h-available {
    min-height: 100vh;
    min-height: -webkit-fill-available
  }


  /* ---------------------------- */
  /* SCROLLBARS */

  .scrollbar-primary::-webkit-scrollbar {
    @apply w-3;
  }

  .scrollbar-primary::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    @apply bg-orange-500 bg-opacity-50 bg-clip-content rounded-full;
  }

  .scrollbar-secondary::-webkit-scrollbar {
    @apply w-3;
  }

  .scrollbar-secondary::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    @apply bg-white bg-opacity-50 bg-clip-content rounded-full;
  }

}

/* ======================================================== */
@layer components {

  /* ---------------------------- */
  /* BUTTONS */

  .btn {
    @apply relative z-10 shrink-0 inline-block text-center bg-white bg-opacity-10 p-3 px-6 rounded-full font-medium transition-transform;
    @apply hover:scale-105;
    @apply focus:outline-orange-500;
  }

  .btn:active {
    @apply hover:scale-100;
  }

  .btn-square {
    @apply p-3;
  }

  .btn-primary {
    @apply bg-white text-black;
  }

  .btn-secondary {
    @apply bg-orange-500 bg-opacity-20 text-orange-500;
  }

  .btn-dot::before {
    content: '';
    @apply inline-block rounded-full w-3 h-3 bg-orange-500 mr-3 -ml-1;
  }

  .btn-link {
    @apply px-1 py-0 bg-transparent rounded-none;
  }

  /* ---------------------------- */
  /* TAGS */

  .tag {
    @apply font-normal shrink-0 inline-block text-center bg-white bg-opacity-5 text-white text-opacity-75 text-xs p-1 px-2 rounded-full;
  }

  .tag::before {
    content: "#";
    @apply inline-block mr-1 text-xs opacity-50;
  }

}

/* ======================================================== */
@layer base {

  /* ---------------------------- */
  /* FONTS */

  /* 
  
  Hairline
  Ultrathin
  Thin
  Light
  Book
  Medium
  Semibold
  Bold
  Extrabold
  Black
  */

  /* font-thin - 100 */
  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-Ultrathin.woff2');
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-UltrathinIt.woff2');
    font-weight: 100;
    font-style: italic;
  }

  /* font-extralight - 200 */
  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-Thin.woff2');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-ThinIt.woff2');
    font-weight: 200;
    font-style: italic;
  }

  /* font-light - 300 */
  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-Light.woff2');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-LightIt.woff2');
    font-weight: 300;
    font-style: italic;
  }

  /* font-normal - 400 */
  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-Book.woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-BookIt.woff2');
    font-weight: 400;
    font-style: italic;
  }

  /* font-medium - 500 */
  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-Medium.woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-MediumIt.woff2');
    font-weight: 400;
    font-style: italic;
  }

  /* font-semibold - 600 */
  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-Semibold.woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-SemiboldIt.woff2');
    font-weight: 500;
    font-style: italic;
  }

  /* font-bold - 700 */
  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-Bold.woff2');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-BoldIt.woff2');
    font-weight: 600;
    font-style: italic;
  }

  /* font-extrabold - 800 */
  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-Extrabold.woff2');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-ExtraboldIt.woff2');
    font-weight: 700;
    font-style: italic;
  }

  /* font-black - 900 */
  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-Black.woff2');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Sharp Sans";
    src: url('/fonts/SharpSansDispNo1-BlackIt.woff2');
    font-weight: 900;
    font-style: italic;
  }

}
